In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("fm_data.csv")

In [66]:
df.head()

,File_name,Avg_red,Avg_green,Avg_blue,Time,Label
0,D:\Python LCC data\L1\1h09m51s26L1.jpg,77.703571,97.472262,87.594643,95126,1
1,D:\Python LCC data\L1\2h09m51s36L1.jpg,78.786071,99.035833,92.670119,95136,1
2,D:\Python LCC data\L1\3h09m51s46L1.jpg,73.033333,92.214643,85.958690,95146,1
3,D:\Python LCC data\L1\4h09m51s56L1.jpg,68.639881,87.667619,81.418333,95156,1
4,D:\Python LCC data\L1\5h09m52s06L1.jpg,73.214762,92.179762,86.405595,95206,1

In [67]:
y = df[['Label']]
y.head()

   Label
0      1
1      1
2      1
3      1
4      1

In [68]:
X =df[['Avg_red','Avg_green','Avg_blue','Time']]
X.head()

     Avg_red  Avg_green   Avg_blue   Time
0  77.703571  97.472262  87.594643  95126
1  78.786071  99.035833  92.670119  95136
2  73.033333  92.214643  85.958690  95146
3  68.639881  87.667619  81.418333  95156
4  73.214762  92.179762  86.405595  95206

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [71]:
from sklearn.tree import DecisionTreeClassifier

clf_tree = DecisionTreeClassifier(criterion='entropy', max_depth=5, 
                                  random_state=101)

In [72]:
clf_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=101,
            splitter='best')

In [73]:
predicted = clf_tree.predict(X_test)

In [74]:
from sklearn.metrics import accuracy_score
accuracy_score(predicted, y_test)

0.9150858175248419

In [75]:
import pydotplus
from sklearn.tree import export_graphviz

def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(tree, feature_names=feature_names, 
                                     filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)  
    graph.write_png(png_file_to_save)

In [76]:
#tree_graph_to_png(tree=clf_tree, feature_names=['Avg_red','Avg_green','Avg_blue','Time'],png_file_to_save='tree_graph.png')